body{
    background-color: rgb(156, 174, 224);
}

.h1{
    display: flex;
    justify-content: center;
    align-items: center;
}


.currentWeather{
    display: flex;
    float: right;
    
}

.btn {
 width: 100%;
 height: 75%;
 font-size: 22px;
}

.cityName{
    background-color: #fff;
}

.pl-2{
    background-color: rgb(209, 209, 209);

}